body {background: black;}
.postcard{background: white; width: 500px; height: 280px; margin: auto; position: absolute; top: 50%; left: 50%;
 transform:translate(-50%, -50%);padding:15px; font-family: 'Indie Flower', cursive;
text-align: center;
}

input{
	position: relative;
	top:10px;
	left:50px;
	border: none;
	font-size: 22px;
	border-bottom: 2px solid #dedede;
	margin: 6px;
}
.postcard-header{
	text-align: left;
}
.left-side{
	text-align: left;
}
.postcard h1{
	margin:0;
}
.left-side{
	float:left;
	width: 50%;
}


.right-side input{
	float:left;
	display: block;
	width: 200px;
	position: left;
}
div img{
	position:absolute;
	left:460px;
	width: 50px;
	margin:0;
	top:10px;
}
div button{

  bottom: 10px;
  width: 50%;
 bottom: 1px black;
  background-color: #a3a5a8;
  width: 150px;
  text-align: center;
  margin:0 auto;
  border-radius: 2px;
  font-family: 'Indie Flower', cursive, bold;
  text-decoration: bold;


}





.postcard-body{
	overflow: hidden;
}
